<div class="signupbackground">
   <div class="formplace">
       <img routerLink="Home" src="assets/airtime.svg">
       <br>
       <h3>Create An AirtimeNigeria Account</h3>
       <div class="text">
           <p>You don't need to ceate a new account if you already have a <strong>BulkSMSNigeria.com</strong> account. <br>Kindly log in with your credentials.</p>
        </div>
       <form>
              <label for="FirstName">First Name</label>
            <div>
              <input type="text">
            </div>
            <br>
              <label for="LastName">Last Name</label>
            <div>
                <input type="text">
            </div>
            <br>
            <label for="Email">E-mail</label>
            <div>
                <input type="email">
            </div>
            <br>
            <label for="phone-number">Phone Number</label>
            <div>
                <input type="number">
            </div>
            <br>
            
            <div>
                <label for="password">Password</label>
                <input type="text" id="password">
            </div>
            <br>
            <label>Re-type Password</label>
            <div>
                <input type="text">
            </div>
            <br>
            <br>
            <button>Create Account</button>
        </form>
    </div>
</div>

