<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a>
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a>
                       Blog
                    </a>
                </li>
                <li>
                    <a>
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;  <i class="fa fa-heart heart"></i> by <a></a>
        </div>
    </div>
</footer>
