<div>
    <nav class="navigation-bar">
        <img routerLink="Home" src="assets/airtime.svg">
        <!-- <h1 routerLink="Home">Airtime</h1> -->
        <ul class="topnav">
            <li><a routerLink="Pricing">Pricing</a></li>
            <li><a routerLink="Contact">Contact</a></li>
          </ul>
        <span>0802-435-4051</span>
        <button><a routerLink="Login">Login</a></button>
        <button><a routerLink="Signup">Sign Up</a></button>
        <!-- <li><a href="">&#9776;</a></li> -->
    </nav>
</div>
